body {
  background-color: #000;
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

#joke {
  font-size: 1.8em;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  text-align: center;
  margin-top: 50px;
}

.footer a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #000;
}

.box p {
  text-align: center;
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
